.thongtincanhan{
    background-color: #edf0f5;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
.diachinhanhang{
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #edf0f5;
}
.donhang{
    margin-top: 15px;
    margin-bottom: 15px;
}
.dongdiachi{
    padding: 5px 0px 5px 0px;
}
.chinhsuataikhoan{
    margin-left: 10px;
}