<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <form #editForm="ngForm" class="form-signin" (ngSubmit)="onSave()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="" style="position: fixed;top:60px;background-color: #f9fbfd;height: 39px;width: 100%;z-index: 1;"></div>
                            <div class="" style="position: fixed;top:70px;background-color: #1572e8;height: 39px;width: 100%;z-index: 1;">
                                <div class="d-flex align-items-center">
                                    <button *ngIf="disabledInput"  style="padding: 8px;margin-bottom: 4px;"  class="btn btn-primary" disabled>
                                        <i style="margin: 2px;" class="fa fa-save"></i>
                                        Lưu
                                    </button>
                                    <button *ngIf="!disabledInput" style="padding: 8px;margin-bottom: 4px;"  class="btn btn-primary" >
                                        <i style="margin: 2px;" class="fa fa-save"></i>
                                        Lưu
                                    </button>
                                </div>
                            </div>
                            <div class="page-header" style="padding-top: 19px;">
                                <ul class="breadcrumbs">
                                    <li class="" style=" border-right: 1px solid #575962; margin-right: 5px;margin-left: 5px;">
                                        <a style="margin-right: 5px;margin-left: 5px;" href="#">
                                            <i class="flaticon-home"></i>
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li class="nav-item" style=" border-right: 1px solid #575962; margin-right: 5px;margin-left: 5px;">
                                        <a routerLink="/app/product-type" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-right: 5px;" href="#">Loại sản phẩm</a>
                                    </li>
                                    <li class="nav-item">
                                        <a>{{title}}</a>
                                    </li>
                                </ul>
                            </div> 
                            <div>
                                <p *ngIf="titleinfo" style="    background-color: #00ce49;
                                color: white;
                                border-radius: 4px;
                                padding: 5px;">{{titleinfo}}</p>
                                <p *ngIf="titleerorr" style="    background-color: red;
                                color: white;
                                border-radius: 4px;
                                padding: 5px;">{{titleerorr}}</p>
                                <!-- <div class="card-title">{{title}}</div> -->
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="producT_TYPE_CODE" class="required">Mã loại</label>
                                            <input required disabled="{{disabledInput}}" #producT_TYPE_CODE="ngModel" id="producT_TYPE_CODE" name="producT_TYPE_CODE" 
                                            [(ngModel)]="inputModel!.producT_TYPE_CODE" type="text" class="form-control form-control" placeholder="Mã loại">
                                            <div class="error-message" *ngIf="producT_TYPE_CODE.invalid && isShowError">
                                                <span>Mã loại không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="creatE_NAME">Người tạo</label>
                                            <input style="color:black; font-weight: bold;" #creatE_NAME="ngModel" disabled="true" id="creatE_NAME" name="creatE_NAME" 
                                            [(ngModel)]="inputModel!.creatE_NAME" type="text" class="form-control form-control" placeholder="Người tạo">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="producT_TYPE_NAME" class="required">Tên loại</label>
                                            <input  required disabled="{{disabledInput}}" #producT_TYPE_NAME="ngModel" id="producT_TYPE_NAME" name="producT_TYPE_NAME" 
                                            [(ngModel)]="inputModel!.producT_TYPE_NAME" type="text" class="form-control form-control" placeholder="Tên loại">
                                            <div class="error-message" *ngIf="producT_TYPE_NAME.invalid && isShowError">
                                                <span>Tên loại không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="creatE_DATE">Ngày tạo</label>
                                            <input style="color:black; font-weight: bold;" disabled="true" id="creatE_DATE"  name="creatE_DATE" [(ngModel)]="date" type="date" class="form-control form-control" placeholder="Ngày tạo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>