<!-- Categories Section Begin -->
<div class="container">
    <div class="row">
        <div class="categories__slider owl-carousel">
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-1.jpg">
                    <img src="../../../assets/img/categories/cat-1.jpg" alt="">
                    <h5><a href="assets/#">Fresh Fruit</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-2.jpg">
                    <img src="../../../assets/img/categories/cat-2.jpg" alt="">
                    <h5><a href="assets/#">Dried Fruit</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-3.jpg">
                    <img src="../../../assets/img/categories/cat-3.jpg" alt="">
                    <h5><a href="assets/#">Vegetables</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-4.jpg">
                        <h5><a href="assets/#">drink fruits</a></h5>
                    </div> -->
                <img src="../../../assets/img/categories/cat-4.jpg" alt="">
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-5.jpg">
                    <img src="../../../assets/img/categories/cat-5.jpg" alt="">
                    <h5><a href="assets/#">drink fruits</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories Section End -->