.product-img{
    width: 500px;
}
.product-img-child{
    width: 100px;
    padding: 10px;
}
table, th, td {  
    border: 1px solid black;  
    border-collapse: collapse;  
}  
th, td {  
    padding: 10px;  
} 
.mota{
    width: 90%;
}