<div style="padding-bottom: 10px;">
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="product-img" src="{{productInfo.imG_URL}}" alt="Hình ảnh sản phẩm">
        </div>
        <div class="col-md-7" style="margin-top: 30px;">
           <h4>{{productInfo.producT_NAME}}</h4>
           <div><span style="color: red;font-size: 30px;">{{formatMoney(productInfo.price)}}</span></div>
           <div>
            <button (click)="addCart()" style="    width: 400px;
            height: 60px;font-size: 20px;margin-bottom: 20px;" class="btn btn-danger">Mua hàng</button>
           </div>
           <div style="height: 350px;" id="noteContent" [innerHTML]="productInfo.note" class="noteContent"></div>
        </div>
    </div> 
</div>
<div class="container">
    <div id="descriptionContent" [innerHTML]="productInfo.description" class="descriptionContent"></div>
</div>

</div>

