<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">{{title}}</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        Danh mục
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/app/product-type" routerLinkActive="active" ariaCurrentWhenActive="page">Hoá đơn</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">{{title}}</a>
                    </li>
                </ul>
            </div>
            <form #loginForm="ngForm" class="form-signin">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <p *ngIf="titleinfo" style="    background-color: #00ce49;
                                color: white;
                                border-radius: 4px;
                                padding: 5px;">{{titleinfo}}</p>
                                <!-- <div class="card-title">{{title}}</div> -->
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="invoicE_CODE">Mã hoá đơn</label>
                                            <input disabled="{{disabledInput}}" id="invoicE_CODE" name="invoicE_CODE" [(ngModel)]="inputModel!.invoicE_CODE" 
                                            type="text" class="form-control form-control" placeholder="Mã hoá đơn">
                                        </div>
                                        <div class="form-group">
                                            <label for="receiveR_ADDRESS">Địa chỉ nhận</label>
                                            <input disabled="{{disabledInput}}" id="receiveR_ADDRESS" name="receiveR_ADDRESS" [(ngModel)]="inputModel!.receiveR_ADDRESS" type="text" 
                                            class="form-control form-control" placeholder="Địa chỉ nhận">
                                        </div>
                                        <div class="form-group">
                                            <label for="creatE_DATE">Ngày tạo</label>
                                            <input disabled="{{disabledInput}}" id="creatE_DATE" name="creatE_DATE" [(ngModel)]="inputModel!.creatE_DATE" 
                                            type="datetime-local" class="form-control form-control" placeholder="Ngày tạo">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="useR_ID">Người mua</label>
                                            <input disabled="{{disabledInput}}" id="useR_ID" name="useR_ID" [(ngModel)]="inputModel!.useR_ID" type="text" 
                                            class="form-control form-control" placeholder="Người mua">
                                        </div>
                                        <div class="form-group">
                                            <label for="receiveR_PHONE">Số điện thoại người nhận</label>
                                            <input disabled="{{disabledInput}}" id="receiveR_PHONE" name="receiveR_PHONE" 
                                            [(ngModel)]="inputModel!.receiveR_PHONE" type="text" class="form-control form-control" placeholder="Số điện thoại người nhận">
                                        </div>
                                        <div class="form-group">
                                            <label for="creatE_DATE">Ngày bắt đầu giao</label>
                                            <input disabled="{{disabledInput}}" id="creatE_DATE" name="creatE_DATE" 
                                            [(ngModel)]="inputModel!.creatE_DATE" type="datetime-local" class="form-control form-control" placeholder="Ngày bắt đầu giao">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="receiver">Người nhận</label>
                                            <input disabled="{{disabledInput}}" id="receiver" name="receiver" [(ngModel)]="inputModel!.receiver" 
                                            type="text" class="form-control form-control" placeholder="Người nhận">
                                        </div>
                                        <div class="form-group">
                                            <label for="total">Tổng tiền</label>
                                            <input disabled="{{disabledInput}}" id="total" name="total" 
                                            [(ngModel)]="inputModel!.total" type="text" 
                                            class="form-control form-control" placeholder="Tổng tiền">
                                        </div>
                                        <div class="form-group">
                                            <label for="creatE_DATE">Ngày nhận</label>
                                            <input disabled="{{disabledInput}}" id="creatE_DATE" name="creatE_DATE" [(ngModel)]="inputModel!.creatE_DATE" type="datetime-local" class="form-control form-control" placeholder="Ngày tạo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card-action">
                                <strong style="font-size: 20px;">Danh sách sản phẩm</strong>
                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Giá bán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listInvoiceDt">
                                                <td>{{item.producT_NAME}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{ item.price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>