
<header class="header-area bg-blue">
  <div class="header-large-device">
      <div class="header-top header-top-ptb-7 border-bottom-8">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2">
                      <div class="logo">
                          <a href="index.html"><img src="/assets/images/logo/logo-3.png" alt="logo"></a>
                      </div>
                  </div>
                  <div class="col-xl-7 col-lg-7">
                      <div class="categori-search-wrap categori-search-wrap-modify-2">
                          <div class="search-wrap-3">
                              <form action="#">
                                  <input placeholder="Search Products..." type="text">
                                  <button><i class="lnr lnr-magnifier"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3">
                      <div class="header-action header-action-flex">
                          <div class="same-style-2 same-style-2-white same-style-2-font-inc">
                              <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="icon-user"></i></a>
                          </div>
                          <!-- <div class="same-style-2 same-style-2-white same-style-2-font-inc">
                              <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count black">03</span></a>
                          </div> -->
                          <div class="same-style-2 same-style-2-white same-style-2-font-inc header-cart">
                              <a class="cart-active" href="#">
                                  <i class="icon-basket-loaded"></i><span class="pro-count black">02</span>
                                  <span class="cart-amount light-yellow">$2,435.30</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="header-bottom">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-12">
                      <div class="main-menu main-menu-white main-menu-font-size-14 main-menu-padding-3 main-menu-lh-5">
                          <nav>
                              <ul>
                                  <li><a href="index.html">Trang chủ</a>
                                  </li>
                                  <li><a href="shop.html">Latop <i class="icon-arrow-down"></i> </a>
                                      <ul class="mega-menu-style mega-menu-mrg-1">
                                          <li>
                                              <ul>
                                                  <li>
                                                      <a class="dropdown-title" href="#">Thương hiệu</a>
                                                      <ul>
                                                          <li><a href="shop.html">ASUS</a></li>
                                                          <li><a href="shop-list.html">ACER</a></li>
                                                          <li><a href="shop-fullwide.html">MSI</a></li>
                                                          <li><a href="shop-no-sidebar.html">LENOVO</a></li>
                                                          <li><a href="shop-list-no-sidebar.html">HP</a></li>
                                                          <li><a href="shop-right-sidebar.html">DELL</a></li>
                                                          <li><a href="store-location.html">GIGABYTE</a></li>
                                                      </ul>
                                                  </li>
                                                  <li>
                                                      <a class="dropdown-title" href="#">Laptop theo giá bán</a>
                                                      <ul>
                                                          <li><a href="product-details.html">Dưới 15 triệu</a></li>
                                                          <li><a href="product-details-2.html">Từ 15 đến 20 triệu</a></li>
                                                          <li><a href="product-details-sticky.html">Trên 20 triệu</a></li>
                                                      </ul>
                                                  </li>
                                                  <li>
                                                      <a class="dropdown-title" href="#">Laptop theo nhu cầu</a>
                                                      <ul>
                                                          <li><a href="product-details.html">Laptop đồ hoạ</a></li>
                                                          <li><a href="product-details-2.html">Laptop học sinh - sinh viên</a></li>
                                                          <li><a href="product-details-sticky.html">Laptop gaming</a></li>
                                                          <li><a href="product-details-gallery.html">Laptop mỏng nhẹ</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <!-- <li><a href="#">PC <i class="icon-arrow-down"></i> </a>
                                      <ul class="sub-menu-style">
                                          <li><a href="about-us.html">about us </a></li>
                                          <li><a href="cart.html">cart page</a></li>
                                          <li><a href="checkout.html">checkout </a></li>
                                          <li><a href="my-account.html">my account</a></li>
                                          <li><a href="wishlist.html">wishlist </a></li>
                                          <li><a href="compare.html">compare </a></li>
                                          <li><a href="contact.html">contact us </a></li>
                                          <li><a href="order-tracking.html">order tracking</a></li>
                                          <li><a href="login-register.html">login / register </a></li>
                                      </ul>
                                  </li> -->
                                  <li><a href="blog.html">Linh kiện <i class="icon-arrow-down"></i> </a>
                                      <ul class="sub-menu-style">
                                          <li><a href="blog.html">Ram</a></li>
                                          <li><a href="blog-no-sidebar.html">Màn hình</a></li>
                                          <li><a href="blog-right-sidebar.html">Ổ cứng</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="contact.html">Tin công nghệ </a></li>
                                  <li><a href="shop.html">Tuyển dụng </a></li>
                                  <!-- <li><a href="shop.html">TVS & APPLIANCES </a></li>
                                  <li><a href="shop.html">MEN </a></li> -->
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-small-device small-device-ptb-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-5">
                  <div class="mobile-logo">
                      <a href="index.html">
                          <img alt="" src="/assets/images/logo/logo-3.png">
                      </a>
                  </div>
              </div>
              <div class="col-7">
                  <div class="header-action header-action-flex">
                      <div class="same-style-2 same-style-2-white same-style-2-font-inc">
                          <a href="login-register.html"><i class="icon-user"></i></a>
                      </div>
                      <div class="same-style-2 same-style-2-white same-style-2-font-inc">
                          <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count black">03</span></a>
                      </div>
                      <div class="same-style-2 same-style-2-white same-style-2-font-inc header-cart">
                          <a class="cart-active" href="#">
                              <i class="icon-basket-loaded"></i><span class="pro-count black">02</span>
                          </a>
                      </div>
                      <div class="same-style-2 same-style-2-white main-menu-icon">
                          <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>