<app-slideshow></app-slideshow>
<div class="product-categories-area pt-60 pb-0">
        <div class="container">
            <div class="section-title-btn-wrap border-bottom-3 mb-50 pb-20">
                <div class="section-title-6">
                    <h2>Danh mục sản phẩm</h2>
                </div>
                <div class="btn-style-7 btn-style-7-blue">
                    <a href="shop.html">Tất cả sản phẩm</a>
                </div>
            </div>
            <div class="product-categories-slider-1 nav-style-3">
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-50.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop Acer</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-51.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop Asus</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-52.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop Dell</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-53.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop HP</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-54.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop MSI</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-55.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop gaming</a></h5>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-border border-blue mb-20">
                            <a href="shop.html">
                                <img src="assets/images/product/product-52.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-categories-2 product-content-blue text-center">
                            <h5><a href="shop.html">Laptop đồ hoạ</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-categories-area pt-60 pb-0">
        <div class="container">
            <div class="section-title-btn-wrap border-bottom-3 mb-50 pb-20">
                <div class="section-title-6">
                    <h2>Laptop gaming bán chạy</h2>
                </div>
                <div class="btn-style-7 btn-style-7-blue">
                    <a href="shop.html">Tất cả sản phẩm</a>
                </div>
            </div>
            <div class="product-categories-slider-1 nav-style-3">
                <div class="row row-cols-1 row-cols-md-5 g-2">
                    <div *ngFor="let item of listProduct | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count};let i = index"  class="col">
                        <div class="card">
                            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{item.producT_NAME}}</h5>
                              <p class="card-text">{{item.price}}</p>
                              <a href="#!" class="btn btn-danger">Đặt hàng</a>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
  
        </div>
        <div style="    margin: 20px;" class="d-flex justify-content-center">
            <pagination-controls
              previousLabel=""
              nextLabel=""
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
    </div>
    <div class="product-categories-area pt-60 pb-0">
        <div class="container">
            <div class="section-title-btn-wrap border-bottom-3 mb-50 pb-20">
                <div class="section-title-6">
                    <h2>Laptop gaming bán chạy</h2>
                </div>
                <div class="btn-style-7 btn-style-7-blue">
                    <a href="shop.html">Tất cả sản phẩm</a>
                </div>
            </div>
            <div class="product-categories-slider-1 nav-style-3">
                <div class="row row-cols-1 row-cols-md-5 g-2">
                    <div *ngFor="let item of listProduct | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count};let i = index"  class="col">
                        <div class="card">
                            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                              <img src="{{item.imG_URL}}" class="img-fluid"/>
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{item.producT_NAME}}</h5>
                              <p class="card-text">{{item.price}}</p>
                              <a href="#!" class="btn btn-danger">Đặt hàng</a>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
  
        </div>
        <div style="    margin: 20px;" class="d-flex justify-content-center">
            <pagination-controls
              previousLabel=""
              nextLabel=""
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
    </div>