<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Quản lý hệ thống</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        Quản lý hệ thống
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/app/user" routerLinkActive="active" ariaCurrentWhenActive="page">Quản lý tài khoản</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">{{title}}</a>
                    </li>
                </ul>
            </div>
            <form #editForm="ngForm" class="form-signin" (ngSubmit)="onSave()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <p *ngIf="titleinfo" style="    background-color: #00ce49;
                                color: white;
                                border-radius: 4px;
                                padding: 5px;">{{titleinfo}}</p>
                                <div class="card-title">{{title}}</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="useR_CODE">Mã nhân viên</label>
                                            <input required #useR_CODE="ngModel" disabled="{{disabledInput}}" id="useR_CODE" name="useR_CODE" [(ngModel)]="inputModel!.useR_CODE" type="text" class="form-control form-control" placeholder="Mã nhân viên">
                                            <div class="error-message" *ngIf="useR_CODE.invalid && isShowError">
                                                <span>Mã nhân viên không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="brancH_ID">Chi nhánh</label>
                                            <select required #brancH_ID="ngModel" class="form-control" [(ngModel)]="inputModel!.brancH_ID" id="brancH_ID" name="brancH_ID">
                                                <option *ngFor="let item of listBranch" value="{{item.brancH_ID}}">{{item.brancH_NAME}}</option>
                                            </select>
                                            <div class="error-message" *ngIf="brancH_ID.invalid && isShowError">
                                                <span>Chi nhánh không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Số điện thoại</label>
                                            <input required #phone="ngModel" disabled="{{disabledInput}}" id="phone" name="phone" [(ngModel)]="inputModel!.phone" type="text" class="form-control form-control" placeholder="Số điện thoại">
                                            <div class="error-message" *ngIf="phone.invalid && isShowError">
                                                <span>Số điện thoại không được để trống</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="useR_NAME">Tên đăng nhập</label>
                                            <input required #useR_NAME="ngModel" disabled="{{disabledInput}}" id="useR_NAME" name="useR_NAME" [(ngModel)]="inputModel!.useR_NAME" type="text" class="form-control form-control" placeholder="Tên đăng nhập">
                                            <div class="error-message" *ngIf="useR_NAME.invalid && isShowError">
                                                <span>Tên đăng nhập không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="rolE_USER_ID">Quyền</label>
                                            <select required #rolE_USER_ID="ngModel" class="form-control" [(ngModel)]="inputModel!.rolE_USER_ID" id="rolE_USER_ID" name="rolE_USER_ID">
                                                <option *ngFor="let item of listRole" value="{{item.rolE_USER_ID}}">{{item.rolE_USER_NAME}}</option>
                                            </select>
                                            <div class="error-message" *ngIf="rolE_USER_ID.invalid && isShowError">
                                                <span>Quyền không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Địa chỉ</label>
                                            <textarea required #address="ngModel" disabled="{{disabledInput}}" id="address" name="address" [(ngModel)]="inputModel!.address" type="date" class="form-control form-control" placeholder="Địa chỉ">
                                                </textarea>
                                            <div class="error-message" *ngIf="address.invalid && isShowError">
                                                <span>Địa chỉ không được để trống</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="useR_FULLNAME">Họ tên nhân viên</label>
                                            <input required #useR_FULLNAME="ngModel" disabled="{{disabledInput}}" id="useR_FULLNAME" name="useR_FULLNAME" [(ngModel)]="inputModel!.useR_FULLNAME" type="text" class="form-control form-control" placeholder="Tên nhân viên">
                                            <div class="error-message" *ngIf="useR_FULLNAME.invalid && isShowError">
                                                <span>Họ tên nhân viên không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input required #email="ngModel" disabled="{{disabledInput}}" id="email" name="email" [(ngModel)]="inputModel!.email" type="email" class="form-control form-control" placeholder="Email">
                                            <div class="error-message" *ngIf="email.invalid && isShowError">
                                                <span>Email không được để trống</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mật khẩu</label>
                                            <input required #password="ngModel" disabled="{{disabledInput}}" id="password" name="password" [(ngModel)]="inputModel!.password" type="password" class="form-control form-control" placeholder="Mật khẩu">
                                            <div class="error-message" *ngIf="password.invalid && isShowError">
                                                <span>Mật khẩu không được để trống</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button *ngIf="disabledInput" class="btn btn-success" style="margin-right: 10px;" disabled>Lưu</button>
                                <button *ngIf="!disabledInput" class="btn btn-success" style="margin-right: 10px;">Lưu</button>
                                <button routerLink="/app/user" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-danger">Trở về</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>