<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <!-- <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
              Hizrian
              <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#profile">
                                        <span class="link-collapse">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#edit">
                                        <span class="link-collapse">Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="link-collapse">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Trang chủ</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                    <!-- <div class="collapse" id="dashboard">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="../demo1/index.html">
                                        <span class="sub-item">Dashboard 1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../demo2/index.html">
                                        <span class="sub-item">Dashboard 2</span>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                </li>
                <!-- <li class="nav-section">
                        <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
                        <h4 class="text-section">Components</h4>
                    </li> -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Khách hàng</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="/customer" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Quản lý tài khoản</span>
                                </a>
                            </li>
                            <li>
                                <a hrouterLink="/invoice" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Đơn hàng đã mua</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Sản phẩm đã mua</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Quản lý hệ thống</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Quản lý tài khoản</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/role-user" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Quyền tài khoản</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#forms">
                        <i class="fas fa-pen-square"></i>
                        <p>Nhập hàng</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="/doc-imp-product" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Danh sách hoá đơn</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/doc-imp-product" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Danh sách hoá đơn kế toán</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#tables">
                        <i class="fas fa-table"></i>
                        <p>Bán hàng</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="/invoice" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Danh sách hoá đơn</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Datatables</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#maps">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Danh mục</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Sản phẩm</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/color" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Màu sắc</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/product-type" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Loại sản phẩm</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/supplier" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Nhà cung cấp</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/branch" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Chi nhánh</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/area" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Khu vực</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/warehouse" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span class="sub-item">Kho</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#charts">
                        <i class="far fa-chart-bar"></i>
                        <p>Quản lý kho</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="charts/charts.html">
                                    <span class="sub-item">Thống kê kho</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Bàn giao kho</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="nav-item">
                        <a href="widgets.html">
                            <i class="fas fa-desktop"></i>
                            <p>Widgets</p>
                            <span class="badge badge-success">4</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#submenu">
                            <i class="fas fa-bars"></i>
                            <p>Menu Levels</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="submenu">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a data-toggle="collapse" href="#subnav1">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav1">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#subnav2">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav2">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-item">Level 1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->