<div class="product-categories-area pt-60 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                  <div class="thuonghieu">
                    <div>
                      Thương hiệu
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">ASUS</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">ACER</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">MSI</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">DELL</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">HP</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">LENOVO</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">GIGABYTE</label>
            </div>
            </div>
            <hr/>
            <div class="nhucau">
              <div>
                Nhu cầu
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Doanh nghiệp</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Văn phòng</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Học sinh - Sinh viên</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Đồ họa</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="cpu">
                    <div>
                      Series CPU
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Doanh nghiệp</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Văn phòng</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Học sinh - Sinh viên</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Đồ họa</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="carddohoa">
                    <div>
                      Chip đồ họa rời
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Doanh nghiệp</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Văn phòng</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Học sinh - Sinh viên</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Đồ họa</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="dungluongram">
                    <div>
                      Dung lượng RAM
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Doanh nghiệp</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Văn phòng</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Học sinh - Sinh viên</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Đồ họa</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="kichthuocmanhinh">
                    <div>
                      Kích thước màn hình
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Doanh nghiệp</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Văn phòng</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Học sinh - Sinh viên</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Đồ họa</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="chuanphangiai">
                    <div>
                      Chuẩn phân giải
                  </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">3K</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
              <label class="form-check-label" for="flexCheckChecked">Full HD</label>
            </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Full HD+</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">HD</label>
                  </div>
                  </div>
                  <hr/>
                  <div class="manhinhcamung">
                    <div>
                      Màn hình cảm ứng
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Cảm ứng</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                    <label class="form-check-label" for="flexCheckChecked">Không cảm ứng</label>
                  </div>
                  </div>
                </div>
                <div class="col-md-10">
                    <div style="margin-bottom: 20px;">
                        <button class="btn btn buton-sxt-title"><strong> Sắp xếp theo</strong></button>
                        <button class="btn btn buton-sxt">Bán chạy</button>
                        <button class="btn btn-pprimary buton-sxt">Mới về</button>
                        <button class="btn btn-pprimary buton-sxt">Giá giảm dần</button>
                        <button class="btn btn-pprimary buton-sxt">Giá tăng dần</button>
                    </div>
                    <div class="product-categories-slider-1 nav-style-3">
                        <div class="row row-cols-1 row-cols-md-5 g-2">
                            <div *ngFor="let item of listProduct | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count};let i = index"  class="col">
                                <div class="card">
                                    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                                      <img src="{{item.imG_URL}}" class="img-fluid"/>
                                      <a href="">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                      </a>
                                    </div>
                                    <div class="card-body">
                                      <h6 style="height: 60px;" class="card-title">{{item.producT_NAME}}</h6>
                                      <div><del style="color: #888;line-height: 180%;font-size: 12px;">15.000.000đ</del></div>
                                      <div><span style="color: red;font-size: 15px;">{{formatCurrency(item.price)}}</span></div>
                                      <button (click)="onview(item.producT_ID)" class="btn btn-danger">Đặt hàng</button>
                                    </div>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>

        </div>
        </div>
        <div style="    margin: 20px;" class="d-flex justify-content-center">
            <pagination-controls
              previousLabel=""
              nextLabel=""
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
</div>