
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section hidden class="mb-4">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section hidden class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <mdb-form-control class="form-white mb-4">
                <input mdbInput type="email" id="form5Example24" class="form-control" />
                <label mdbLabel class="form-label" for="form5Example24">Email address</label>
              </mdb-form-control>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <strong>
          CÔNG TY TNHH THƯƠNG MẠI HDSOFT
        </strong>
        <p>
          Mua PC Gaming, laptop gaming, card màn hình, chuột máy tính, màn hình máy tính, máy tính để bàn, ghế gaming, thiết bị chơi game như Asus ROG Ally hàng đầu Việt Nam bảo hành chính hãng. Mua online nhận ưu đãi hấp dẫn với nhiều chương trình đặc biệt như ngày 8/3, b2s, noel...
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 style="font-weight: bold;">Thông tin</h6>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Giới thiệu</a>
              </li>
              <li>
                <a href="#!" class="text-black">Shop</a>
              </li>
              <li>
                <a href="#!" class="text-black">Phương thức thanh toán</a>
              </li>
              <li>
                <a href="#!" class="text-black">Tra cứu vận đơn</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 style="font-weight: bold;">Chính sách</h6>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Trả góp</a>
              </li>
              <li>
                <a href="#!" class="text-black">Giao hàng</a>
              </li>
              <li>
                <a href="#!" class="text-black">Đổi trả</a>
              </li>
              <li>
                <a href="#!" class="text-black">Bảo hành</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 style="font-weight: bold;">Địa chỉ</h6>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">CN1: 105 Hoàng Văn Thụ, Phường 4, Tân Bình, TP.HCM</a>
              </li>
              <li>
                <a href="#!" class="text-black">CN2: 14 Đường Phan Văn Trị, Phường 7, Gò Vấp, TP.HCM</a>
              </li>
              <li>
                <a href="#!" class="text-black">CN3: 15 Lý Tự Trọng, Bến Nghé, Quận 1, TP.HCM</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  <hr>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#f5f5f7;color: black;">
      © 2023 Copyright:
      <a class="text-black" href="">HDSoft</a>
    </div>
    <!-- Copyright -->
